
body {
    text-align: center;
}

.caja {
	color: red;
	background-color: rgb(163, 253, 167);
	border: 1px solid rgb(252, 67, 67);
	width: 100px;
	height: 100px;
	padding: 5px;
	margin: 50px 550px;
    text-align: center;
}

p{
	color:  blue;	
}